
.vs/PROYECTO/v16/Browse.VC.db
.vs/PROYECTO/v16/Browse.VC.db-shm
.vs/PROYECTO/v16/Browse.VC.opendb
.vs/PROYECTO/v16/ipch/AutoPCH/8d860c4cca6503e0/20242.ipch
.vs/PROYECTO/v16/Browse.VC.db-wal
.vs/PROYECTO/v16/Browse.VC.db
.vs/PROYECTO/v16/Browse.VC.db-shm
